{% extends 'layouts/base.html' %}

{%block content%}
<h3> {{sucursal.nombre}} </h3>
<table class="tabla-sucursal">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Puesto</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}

            <tr>
                <td><a href="{%url 'empleado' dni=empleado.dni%}">{{empleado.nombre}}</a></td>                
                <td><a href="{%url 'empleado' dni=empleado.dni%}">{{empleado.apellido}}</a></td>                
                <td>{{empleado.email}}</td>                
                <td>{{empleado.direccion}}</td>  
                <td>{{empleado.puesto.nombre}}</td>
                
            </tr>
        {%endfor%} 
    </tbody>
</table>

<div class="btn-back"><a href="{%url 'sucursales' %}"> <i class="fa-solid fa-chevron-left"></i> VOLVER</a></div>
{%endblock%}